# Visual studio
.vs/
x64/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vscode

# Test
kokostring/
Notes/
src/main.cpp
test*

# Build
*.exe
*.ilk
*.pdb
Build/MykokoSQL.lib
Objects/
Debug/
Release/
CMake/

# Work in progress
.github/
Include/temp.h
CMakeLists.txt