# Visual studio
.vs/
x64/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vscode

# Test
kokostring/
Notes/
src/main.cpp
test*

# Build
*.exe
*.ilk
*.pdb
Objects/
Debug/
Release/
CMake/

# Work in progress
Include/my_client_errors.h
Include/temp.h